body {
    padding-top: 80px;
    padding-bottom: 40px;
}

.cards-stackable {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
}
