{% extends "base.html" %}

{% block main %}
        <div class="container">

            <div class="jumbotron">
                <p>Наша цель — подготовиться к олимпиадам</p>
                <p>Меня зовут Данил, можно обращаться на «ты»</p>
                <p>Можно свободно общаться друг с другом, хотя важно решать задачи самостоятельно</p>
                <p>Можно искать и читать поясняющие статьи в интернете, но не стоит пользоваться найденным в интернете кодом</p>
                <p>Если что-то непонятно — спроси у соседа, подними руку или подойди к Данилу</p>
                
                <h3 class="mb-3">После ЛШ занимайся тут</h3>
                <p><a target="_blank" href="https://stepik.org/course/363">Курс по C++ от Яндекса</a></p>
                <p><a target="_blank" href="http://acm.timus.ru/">Хороший архив задач по информатике</a></p>
                <p><a target="_blank" href="https://algoprog.ru/">Курс по олимпиадному программированию</a></p> 
            </div>
        </div>
        
        <div class="container cards-stackable">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Hello World</h5>
                    <p class="card-text">Знакомство с C++</p>
                    <a href="hello.html" class="btn btn-primary">Задачи</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Условия</h5>
                    <p class="card-text">Конструкции <code>if</code> — <code>else</code>, <code>switch</code></p>
                    <p class="card-text"><a target="_blank" href="http://cppstudio.com/post/291/">Теория</a></p>
                    <a href="ifs.html" class="btn btn-primary">Задачи</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Циклы</h5>
                    <p class="card-text">Операторы <code>for</code> и <code>while</code></p>
                    <p class="card-text"><a target="_blank" href="http://cppstudio.com/post/348/">Теория</a></p>
                    <a href="cycles.html" class="btn btn-primary">Задачи</a>
                </div>
            </div>
        
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Массивы</h5>
                    <p class="card-text">Динамические массивы — <code>vector</code></p>
                    <p class="card-text"><a target="_blank" href="http://cppstudio.com/post/8453/">Теория</a></p>
                    <a href="arrays.html" class="btn btn-primary">Задачи</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Символы</h5>
                    <p class="card-text">Тип <code>char</code>, работа с символами</p>
                    <p class="card-text"><a target="_blank" href="http://cppstudio.com/post/437/">Теория</a></p>
                    <a href="symbols.html" class="btn btn-primary">Задачи</a>
                </div>
            </div>
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Строки</h5>
                    <p class="card-text">Тип <code>string</code>, простые задачи</p>
                    <p class="card-text"><a target="_blank" href="http://cppstudio.com/post/437/">Теория</a></p>
                    <a href="strings.html" class="btn btn-primary">Задачи</a>
                </div>
            </div>
        </div>

{% endblock %}
