{% extends "base.html" %}

{% block main %}
        <div class="container">

            <div class="jumbotron">
                <h3>Условия</h3>
                
                <div class="list-group">
                    <a target="_blank" href="http://acmp.ru/asp/do/index.asp?main=task&id_course=1&id_section=2&id_topic=29&id_problem=162"  class="list-group-item list-group-item-action">A. Больше-меньше           </a>
                    <a target="_blank" href="http://acmp.ru/asp/do/index.asp?main=task&id_course=1&id_section=2&id_topic=29&id_problem=275"  class="list-group-item list-group-item-action">B. Четырехзначный палиндром</a>
                    <a target="_blank" href="http://acmp.ru/asp/do/index.asp?main=task&id_course=1&id_section=2&id_topic=31&id_problem=173"  class="list-group-item list-group-item-action">C. Две окружности          </a>
                    <a target="_blank" href="http://acmp.ru/asp/do/index.asp?main=task&id_course=1&id_section=2&id_topic=30&id_problem=188"  class="list-group-item list-group-item-action">D. Конь                    </a>
                    <a target="_blank" href="http://acmp.ru/asp/do/index.asp?main=task&id_course=1&id_section=2&id_topic=31&id_problem=1216" class="list-group-item list-group-item-action">E. Коробки                 </a>
                    <a target="_blank" href="http://acmp.ru/asp/do/index.asp?main=topic&id_course=1&id_section=2&id_topic=32"                class="list-group-item list-group-item-action">F. Лиса Алиса и кот Базилио</a>
                </div>
            </div>
        </div>
        
{% endblock %}
